#main_menu{
        margin-top: 50px;
        width: 1000px;
        height: 650px;
        text-align: center;
        margin-left: 200px;
}
#main_menu h2,p{
        color: #003775;
}
.top_menu-button{
        margin-left: 60px;
        float: left;
        list-style: none;
}
#topButton a{
        display: block;
        background: #003775;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        margin: 50px 0;
        padding: 10px 10px;
}
.bottom_menu-button{
        float: left;
        margin-left: 60px;
        list-style: none;
}
#bottomButton a{
        display: block;
        background: #003775;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        padding: 10px 10px;
}