#services{
        margin-top: 50px;
        width: 1000px;
        height: 500px;
        text-align: center;
        margin-left: 200px;
}
#services h2,p{
        color: #003775;
}
.service-item{
        margin-left: 60px;
        float: left;
        list-style: none;
}
#serviceButton a{
        display: block;
        background: #003775;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        margin: 50px 0;
        padding: 10px 10px;
}